<nz-card>
  <div class="row m-b-30">
      <div class="col-lg-8">
          <div class="d-md-flex">
              <div class="m-b-10 m-r-20">
                <form nz-form [formGroup]="validateFormRequerimiento"  style="max-width: 100%;">


                  <div nz-row>
                    <div nz-col nzSpan="24" style="padding: 2%;">
                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                        <input nz-input formControlName="nro_requerimiento" id="nro_requerimiento" placeholder="Nro requerimiento"/>
                      </nz-form-control>
                    </div>

                  </div>
                  <!-- <div nz-row>
                    <div nz-col nzSpan="12" style="padding: 2%;">
                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                        <input nz-input formControlName="centro_costos" id="apellido_materno" placeholder="Centro de costos"/>
                      </nz-form-control>
                    </div>

                  </div> -->

                </form>
              </div>
          </div>
      </div>
      <!-- <div class="col-lg-4 text-right">
          <button nz-button nzType="primary"  (click)="showModal('nuevo')">
              <i nz-icon nzType="plus-circle" theme="outline"></i>
              <span>Agregar Articulo</span>
          </button>
          <br>  <br>
          <button nz-button nzType="primary" style="background: #58cb38;border-color: #58cb38;" (click)="crearRequerimiento()">
            <i nz-icon nzType="plus-circle" theme="outline"></i>
            <span>Editar Requerimiento</span>
        </button>
      </div> -->
  </div>
  <ng-template #noDataTemplate>
    <!-- <p>No hay datos disponibles en este momento.</p> -->
  </ng-template>
  <nz-table #productsListTable [nzData]="displayData" [nzNoResult]="noDataTemplate">
      <thead>
          <tr>
              <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of displayData;  let i=index">
              <td>{{i+1}}</td>
              <td>{{item.cod_articulo}}</td>
              <td>{{item.nomb_articulo}}</td>

              <td>{{item.cant_solicitada}}</td>


              <!-- <td>{{item.telefono}}</td> -->
              <!-- <td class="text-md-right" [width]="120" style="text-align: center!important;">

                  <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Eliminar" (click)="showDeleteConfirm(item.id_articulo)">
                      <i nz-icon nzType="delete" theme="outline"></i>
                  </button>
              </td> -->
          </tr>
      </tbody>
  </nz-table>
</nz-card>

<nz-modal
[(nzVisible)]="isVisible"
nzTitle="{{ auxIdArea == 0 ? 'Nuevo Articulo' : 'Editar Articulo'}}"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
nzWidth="50%"
nzCancelText="Cancelar"
nzOkText="{{ auxIdArea == 0 ? 'Guardar' : 'Actualizar'}}"
>
  <ng-container *nzModalContent>


    <form nz-form [formGroup]="validateFormDetalleRequerimiento"  style="max-width: 100%;">


      <div nz-row>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <!-- <input nz-input formControlName="cod_area" id="cod_area" placeholder="Codigo de area"/> -->
            <nz-select
              id="id_articulo"
              formControlName="id_articulo"
              nzPlaceHolder="Articulo"
            >
              <nz-option [nzValue]="articulo.id_articulo" [nzLabel]="articulo.nomb_articulo" *ngFor="let articulo of articulos"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="cant_solicitada" id="cant_solicitada" placeholder="Cantidad" type="number"/>
          </nz-form-control>
        </div>
      </div>
      <!-- <div nz-row>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="centro_costos" id="apellido_materno" placeholder="Centro de costos"/>
          </nz-form-control>
        </div>

      </div> -->

    </form>
  </ng-container>


</nz-modal>
