<nz-card>
  <div class="row m-b-30">
      <div class="col-lg-8">
          <div class="d-md-flex">
              <div class="m-b-10 m-r-20">
                  <nz-input-group [nzPrefix]="prefixTemplate">
                      <input type="text" nz-input placeholder="Buscar..." [(ngModel)]="searchInput" (ngModelChange)="search()">
                  </nz-input-group>
                  <ng-template #prefixTemplate>
                      <i nz-icon nzType="search" class="opacity-05"></i>
                  </ng-template>
              </div>
          </div>
      </div>
      <div class="col-lg-4 text-right">
          <button nz-button nzType="primary"  (click)="showModal('nuevo')">
              <i nz-icon nzType="plus-circle" theme="outline"></i>
              <span>Nuevo Usuario</span>
          </button>
      </div>
  </div>
  <nz-table #productsListTable [nzData]="displayData">
      <thead>
          <tr>
              <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of productsListTable.data;  let i=index">
              <td>{{i+1}}</td>
              <td>{{item.empleado?.persona?.nombres}}</td>
              <td>{{item.empleado?.persona?.apellido_paterno}} {{item.empleado?.persona?.apellido_materno}}</td>

              <td>{{item.usuario}}</td>
              <td>{{item.rol.nomb_rol}}</td>


              <td class="text-md-right" [width]="120" style="text-align: center!important;">
                  <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Editar" (click)="showModal('editar', item)">
                      <i nz-icon nzType="edit" theme="outline"></i>
                  </a>
                  <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Eliminar" (click)="showDeleteConfirm(item.id_usuario)">
                      <i nz-icon nzType="delete" theme="outline"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </nz-table>
</nz-card>

<nz-modal
[(nzVisible)]="isVisible"
nzTitle="{{ auxIdUsuario == 0 ? 'Nuevo Usuario' : 'Editar Usuario'}}"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
nzWidth="50%"
nzCancelText="Cancelar"
nzOkText="{{ auxIdUsuario == 0 ? 'Guardar' : 'Actualizar'}}"
>
  <ng-container *nzModalContent>


    <form nz-form [formGroup]="validateFormUsuario"  style="max-width: 100%;">


      <div nz-row>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-select
              id="id_empleado"
              formControlName="id_empleado"
              nzPlaceHolder="Empleados"

            >
              <nz-option [nzValue]="empleado.id_empleado" [nzLabel]="empleado.persona.nombres+' '+empleado.persona.apellido_paterno+' '+empleado.persona.apellido_materno" *ngFor="let empleado of empleados"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-select
              id="id_rol"
              formControlName="id_rol"
              nzPlaceHolder="Rol"

            >
              <nz-option [nzValue]="rol.id_rol" [nzLabel]="rol.nomb_rol" *ngFor="let rol of roles"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="usuario" id="usuario" placeholder="Usuario"/>
          </nz-form-control>
        </div>
        <div nz-col nzSpan="12" style="padding: 2%;">
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input type="password" formControlName="contrasena" id="contrasena" placeholder="Contraseña"/>
          </nz-form-control>
        </div>

      </div>

    </form>
  </ng-container>


</nz-modal>
